{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container">
    <div class=" w-100 mt-4">
        <div class="d-flex flex-wrap justify-content-between">
            <h4 class="d-block" >Biz Haqimizda</h4>
            
        </div>

        <div class"d-flex flex-wrap justify-content-between">
            <img src="{% static 'logos/logo1.png' %}" alt="" width="100%">
            <h1>My ish uz</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum nostrum blanditiis voluptatem, minus deleniti odio deserunt, vero ab dolor placeat asperiores in? Distinctio tenetur, cumque molestiae eligendi eos dignissimos.
            Rerum nisi accusamus tempora aut error suscipit nobis animi optio eveniet magni, tenetur consequatur repudiandae ex repellat rem ut. Veritatis molestias aliquid, tenetur quae doloremque atque similique maxime laborum perspiciatis!
            A veniam laborum, culpa temporibus fugit natus, eligendi animi eum molestias tenetur et iste velit est ab incidunt voluptas, illum quos. Ad alias harum vero repudiandae saepe odit non impedit!
            Consequuntur pariatur unde corporis quas nobis excepturi aperiam eveniet ipsa voluptatum accusantium nihil, ullam porro, tempora asperiores iusto. Molestiae, nisi. Eaque beatae distinctio cum reiciendis sunt dignissimos, numquam ratione voluptas.
            Dolorem, commodi dolore! Debitis harum, quasi cupiditate fugit atque alias incidunt accusantium, possimus sequi vel inventore molestiae soluta sit nisi sed minima ratione! Tempora voluptates iusto, vero ut quam eligendi?
            Nobis nam excepturi iure atque porro illum? Distinctio ipsum aliquid suscipit nihil officiis minima saepe facilis vero! Neque qui minus blanditiis, et ex similique, voluptates consequuntur incidunt, quia perspiciatis amet.
            Sed quasi iusto dicta possimus voluptate officiis veritatis ab nisi modi. Consequatur exercitationem officia blanditiis provident repellendus quaerat maiores illum non illo commodi sint dolor corporis, ducimus tempore possimus laboriosam.
            Aut, ipsum nihil perspiciatis quis atque ea facere nostrum eaque debitis, officia porro consectetur nulla eum possimus dolores consequuntur adipisci qui? Repudiandae nobis explicabo obcaecati, earum numquam ab cupiditate iure.
            Incidunt autem reiciendis, recusandae beatae exercitationem illum hic animi error ex consequatur corrupti nulla at, ratione esse tenetur temporibus, veniam voluptates eveniet quo fugiat omnis? Nisi temporibus dicta rem quas.
            Odio pariatur quibusdam molestiae perferendis animi maiores voluptatum quaerat nesciunt quae sapiente natus veritatis sint velit minima corporis optio laboriosam, necessitatibus fugiat. Quo, praesentium. Molestias possimus animi facilis asperiores facere!</p>
        </div>
    </div>
</div>
<!-- Product Cart End -->
</div>
{% endblock content %}
